.cart{
    border: 2px solid palevioletred;
    padding: 10px;
    border-radius: 10px;
}
.cart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-left: 50px;
    padding-right: 50px;
}
.cart-text{
    text-align: center;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    border-radius: 10px;
    border: none;
    text-align: center;
   
}
.other-container{
    display: flex;
    gap: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.btn-1{
    padding: 4px;
    border-radius: 50%;
    background-color: palevioletred;
    border: none;
}

.ex-time,.br-time{
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    
    display: flex;
    align-items: center;
    gap: 20px;

}
.activity{
    border-radius: 5px;
    border: none;
  background-color: palevioletred;
    padding: 20px 40px;
}
