.body{
    background-color: lightgreen;
    padding: 30px;
}
.container{
    
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.fitness-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   row-gap: 30px;
}

